<h2><%= @recipe.name %></h2>
<p>
  Rating: <%= @recipe.rating %>
</p>
<p>Yields: <%= @recipe.yield %></p>

<h3>Ingredients:</h3>
<ul>
  <% @ingredients.each do |i| %>
  <li><%= i.ingredient %></li>
  <% end %>
</ul>

<h3>Instructions:</h3>
<p>
<%= @recipe.instr %>
</p>

<h3>Categories:</h3>
<ul>
  <% @recipe.tags.each do |t| %>
  <li><%= t.tag %></li>
  <% end %>
</ul>

<button name="button"><a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a></button>

<form id="form_id" action="index.html" method="post" class="delete-form">
  <button type="submit" formaction="/recipe/<%= @recipe.id %>/delete" name="button">Delete Recipe</button>
</form>
