<h1>Edit Recipe</h1>
<form id="form_id" action="/recipes/<%= @recipe.id %>/update " method="post">
  <label for="name">Recipe Name:</label>
  <input type="text" name="name" value="<%= @recipe.name %>">
  <label for="rating">Rating:</label>
  <input type="number" name="rating" min="0" max="5" value="<%= @recipe.rating %>">
  <label for="yield">Yields:</label>
  <input type="number" name="yield" min="0" max="1000" value="<%= @recipe.yield %>">

<h3>Ingredients:</h3>
<ul>
  <% @recipe.ingredients.each do |i| %>
    <li value="<%= i.id %>"><%= i.ingredient %></li>
  <% end %>
</ul>



<input type="text" name="ingredient" value="">
<button formaction="/recipes/<%= @recipe.id %>/add_ingr" name="button">+</button>

<h3>Instructions:</h3>
<textarea name="instr" rows="10" cols="40"><%= @recipe.instr %></textarea>

<br>
<button type="submit" name="save">Save</button>
</form>

<form action="/recipes/<%= @recipe.id %>/edit_tags" method="post">
  <% @tags.each do |t| %>
    <input class="tag-box" type="checkbox" name="tag_id[]" value="<%= t.id %>" id="<%= t.id %>"
      <% if @recipe.tags.include?(t) %>
        checked
      <% end %>
    ><%= t.tag %>
  <% end %>

  <input type="submit" name="save" value="Save Tags">

<br><br>
  <button formaction="/recipes/<%= @recipe.id %>/tags/new"  type="submit" name="button">Create New Tag</button>
  <input type="text" name="tag">
</form>
